<ion-header>
  <ion-toolbar>
    <ion-title>Buscar Refeição por Nome</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label position="floating">Nome da Refeição</ion-label>
    <ion-input [(ngModel)]="searchName" (ionInput)="onSearch()" type="text"></ion-input>
  </ion-item>

  <ion-list *ngIf="meals.length > 0">
    <ion-item *ngFor="let meal of meals" [routerLink]="['/meal-detail', meal.idMeal]">
      <ion-thumbnail slot="start">
        <img [src]="meal.strMealThumb" />
      </ion-thumbnail>
      <ion-label>
        <h2>{{ meal.strMeal }}</h2>
        <p>{{ meal.strCategory }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <div *ngIf="meals.length === 0 && searchName.length > 0">
    <p>Nenhuma refeição encontrada.</p>
  </div>
</ion-content>
